.sku {
    color: grey;
}

.product,.customer {
    border: dotted 1px gray;
    margin:20px;
    padding: 20px;
}

.price {
    color: red;
    font-size: 22px;
}

.error{
    color:red;
}

.delprod, .backform{
    display: inline;
}
